<div class="col-md-12 p-map" ng-controller="MapCtrl">
  <div class="row e-hbox">
    <twit-strip class="well well-sm col-md-4 col-sm-4" items="tail"></twit-strip>
    <div class="col-md-8 col-sm-8">
      <leaflet
        id="mapLeafletMain"
        defaults="defaults"
        markers="markers"
        center="center"
        height="600px"
        ></leaflet>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-2 col-md-2">
      <h4>Топ-5</h4>
    </div>
    <member-card ng-repeat="member in topUsers" member="member" class="col-sm-2 col-md-2"></member-card>
  </div>

</div>